<?xml version="1.0" encoding="utf-8"?>
<settings>
    <errorhandling>
<!-- Default behaviours of errors 0 and 1 cannot be changed as that would break things.
        0: stop
        1: stop      -->
        2: ignore
        3: log
        4: confirm
    </errorhandling>
    <options>
        line-entry: {enabled: true, mode: x-sampa}
    </options>
</settings>